.calculator {
    

}
.numbers {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    
    
    
}

.calc-base {
    width: 350px;
}

button {
    min-width: 100px;
    min-height: 100px;
    
   
    
    
}

.operators {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-top: 30px;

}
